__pycache__
*.pyc
*egg-info
dist
build
env
venv
pyvenv.cfg
.eggs
lib
bin

.vscode
.coverage
htmlcov
.env
test-results/

smoke-tests/collector/data.json
smoke-tests/collector/data-results/data*
smoke-tests/report.xml
examples/**/poetry.lock
